<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Carl Sagan</title>
</head>

<body>

    <div class="header-home">

        <h2>
            Carl Sagan
        </h2>

        <p class="header-caption">
            “If you wish to make an apple pie from scratch, you must first invent the universe.”
        </p>

    </div>

    <div class="home-text">
        <p class="home-text-about">
            We live in Carl Sagan’s universe – awesomely vast, deeply humbling. It’s a universe that, as Sagan reminded us again and again, isn’t about us. We’re a granular element. Our presence may even be ephemeral—a flash of luminescence in a great dark ocean. Or perhaps we are here to stay, somehow finding a way to transcend our worst instincts and ancient hatreds, and eventually become a galactic species. We could even find others out there, the inhabitants of distant, highly advanced civilizations—the Old Ones, as Sagan might put it.
        </p>
    
        <p class="home-text-more">
            Below you can learn a little bit more about this unbelievable scientist :)
        </p>

    </div>

    <div class="links-container">

        <a href="/about" class="home-links">About</a>

        <a href="/works" class="home-links">His Work</a>
    
    </div>

</body>
</html>