body {
    background-image: url(/images/main-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-home {
    margin-top: 300px;
    padding: 20px;
    text-align: center;
    background: rgba(207, 215, 213, 0.5);
    color: rgb(84, 89, 97);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .header-caption {
    font-style: italic;
    font-size: 20px;
  }

  .home-text {
    width:100%;
    max-width: 1000px;
    text-align: center;
    margin: 0px auto;
    padding: 30px;
  }

  .home-text-about {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
  }

  .home-text-more {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
  }

 .links-container {
    display: flex;
    justify-content: space-evenly;
 }

 .home-links {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
 }